@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
    text-shadow: 2px 2px 2px #c3c2c2;
}

.form-inline {
    width: 350px;
    margin: 0px auto;
    
}
.form-input {
    width: 350px;
    display: inline-block;
    height: 25px;
    margin: 10px 0;
}
.form-label {
    width: 160px;
    display: inline-block;
}
.form-input input {
    width: 170px;
    height: 25px;
    display: inline-block;
    border-radius: 10px;
}
#submitButtons button {
    width: 175px;
    margin-left: 165px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: #13e13f;
    cursor: pointer;
    border: solid 2px #28a745;
    color: white;
}
#submitButtons button:hover {
    background-color: #28a745;
    font-weight: bold;
}

.form-table {
    width: 500px;
    margin: 20px auto 100px auto;
    padding: 10px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
table {
    width: auto;
    margin: 20px auto;
}

.table td {
    padding: 5px 10px;
}

td button {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #b503b5;
    border: solid 1px #fff;
}

.fa-trash {
    color: blue;
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 700px) and (max-width: 1200px) {
     
}

@media screen and (max-width:700px) {
    
}